<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avatye.aos.cashscreen">
    <!-- 퍼미션 관련 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- android target sdk 28 FOREGROUND_SERVICE -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <!-- 마켓 정보를 입력합니다. googleplay or onestore -->
        <meta-data
            android:name="avatye_market"
            android:value="googleplay" /> <!-- 테스트키 buzzvil_app_key : app-pub-150484850088628 -->
        <meta-data
            android:name="com.buzzvil.APP_KEY"
            android:value="app-pub-150484850088628" />
        <activity
            android:name=".CashButtonAcivity"
            android:exported="false" />
        <activity
            android:name=".CashButtonChannelingActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity2"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>